{
    "plugins": [
      ["prismjs", {
          "languages": ["javascript", "css", "markup", "c", "cpp", "jsx"],
          "plugins": ["line-numbers", "show-language", "copy-to-clipboard", "highlight-keywords", "line-highlight"],
          "theme": "tomorrow",
          "css": true
      }]
    ]
  }